<%- include ("userheader.ejs") %>

    <!-- Page Header Start -->
    <div class="container-fluid page-header d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5 mb-5">
        <h1 class="display-4 text-white mb-3 mt-0 mt-lg-5">User Portal</h1>
        <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="">User Home</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">Search Tenders</p>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center">
                <h1 class="mt-2 mb-5">Welcome to User Portal</h1>
                <h2>Search Sub Category >> <%- subCatNm %> </h2>
                <br/>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <table class="table table-bordered table-hover">
                            <tr class="table table-info">
                                <th>Tender ID</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Tender Document</th>
                                <th>Last Date</th>
                                <th>Info</th>
                                <th>Action</th>
                            </tr>
                            <% for(let row of tenDetails) { %>
                            <tr>
                                <td><%- row._id %></td>
                                <td><%- row.title %></td>
                                <td><%- row.subcatnm %></td>
                                <td><%- row.tenderdesc %></td>
                                <td align="center">
                                    <a href="../../uploads/tenderdocs/<%- row.tenderdocnm %>" target="_blank" title="Download Tender Document">
                                    <img src="../../img/download1.png" height="50" width="50"/>
                                    </a>
                                </td>
                                <td><%- row.enddate %></td>
                                <td><%- row.info %></td>
                                <td>
                                    <a href="/user/applytender?tenid=<%- row._id %>&enddate=<%- row.enddate %>" >Apply for Tender</a>
                                </td>
                            </tr>

                            <% } %>    
                        </table>
                    </center>
                    
                </div>
                <!-- <div class="col-md-7">
                    
                </div> -->
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <%- include ("userfooter.ejs") %>
